<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
<form action="/api/comment" method="POST">
	<input type="text" name="username" placeholder="username">
	<hr>
	<input type="text" name="body" placeholder="body">
	<hr>
	<input type="submit" value="Submit">

</form>
</body>
</html>